/* resets */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(13, 19, 33);
}

.logo {
  position: absolute;
  width: 114px;
  height: 34px;
  left: 150px;
  top: 50px;
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  text-decoration: none;
}

.cv-btn {
  position: absolute;
  right: 150px;
  top: 38px;
  box-sizing: border-box;
  padding: 17px 24px;
  color: rgb(13, 19, 33);
  border-radius: 8px;
  border: 1px solid rgb(13, 19, 33);
  font-size: 18px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  opacity: 0.8;
  text-decoration: none;
}

/* Hero Section */
.hero {
  width: 100%;
  height: fit-content;
  left: 0;
  right: 0;
  margin: 131px 0 74px;
  background: url("./assets/Hero-bg.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .contents {
  width: 998px;
  margin: 26px auto 44px;
}
.contents .texts h1 {
  font-size: 48px;
  font-weight: 800;
}

.contents .texts p {
  margin: 32px 73px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 26px;
}

.contact-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px;
  background-color: rgb(13, 19, 33);
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

/* why web section */

.why {
  margin: 0 150px;
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.why h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.why > p {
  text-align: center;
  font-size: 16px;
  margin: 24px 48px 48px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.why .why-card1,
.why-card2,
.why-card3 {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  margin: 32px 0;
}

.why-card1 {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.why-card2 {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.why-card2 .why-text {
  margin-right: 150px;
}

.why-card3 {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.why-text {
  width: 450px;
  margin: 10px 0;
}

.why-text h2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 900;
}

.why-text p {
  margin: 16px 0 32px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.why-text button {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  cursor: pointer;
  background-color: inherit;
  font-size: 18px;
  font-weight: 500;
}

/* inspiration Section */

.inspiration {
  margin: 88px 150px 150px;
  text-align: center;
}

.inspiration h1 {
  font-size: 32px;
  font-weight: 800;
}

.inspiration p {
  margin: 24px 144px 48px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.inspiration-video {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  width: fit-content;
  margin: auto;
  min-width: 80%;
}

.inspiration-video iframe {
    border-radius: 16px;
    max-width: 100%;
}
